<div class="post" *ngFor="let post of posts" [id]="'p' + post.id" [ngClass]="{ 'highlight': post.id == highlightedPostId }">
    
    <div class="post-info"> 
      <h3>{{ post.user.nombre }}</h3>
      
      <h4>{{ post.fecha | date: 'dd/MM/yyyy'}}</h4>
      
    </div>
    <div class="post-titulo">
      <h2>{{ post.titulo }}</h2>
    </div>
    <div class="post-body">
      <p>{{ post.contenido }}</p>
    </div>
  
    <h3>Comentarios</h3>
  
    <app-comments-for-post [postId]="post.id"></app-comments-for-post>
    <button (click)="verDetalleDeComentario(post.id)">Añadir comentario</button>
    <button *ngIf="userId" (click)="eliminarPost(post.id)">ELIMINAR POST</button>
    <button *ngIf="userId" (click)="verDetalleDePost(post.id)">MODIFICAR POST</button>
     
   <div class="line-div"></div>
</div>


  
