button{
  background-color: #333; 
  color: #fff; 
  margin: 0 1%;
  padding: 10px 20px;
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
}
.post {
  // display: flex;
  align-items: center;

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  .post-titulo {
    h2{
      color: rgb(93, 160, 160);
      margin: 0; 
      font-size: 2rem;
    }
  }

  .post-body{
    margin-top: 1%;
    margin-left:10%;
    margin-bottom: 1%;
    font-size: 1.1rem;
  }
}

.post-info{
  display: flex;
  align-items: end;
  h3 { 
    margin: 0;
    margin-right: 1%;
  }
  h4 {
    color: rgba(240, 255, 255, 0.40);
    font-size: 70%;
    margin: 0;
    margin-bottom: 0.2%;
  }

}
.highlight {
  background-color: rgb(53, 198, 30);
  animation-name: highlightAnimation;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

@keyframes highlightAnimation {
  0% { background-color: rgb(53, 198, 30); }
  50% { background-color: transparent; }
  100% { background-color: rgb(53, 198, 30); }
}