
<form  class="form" [formGroup] = "formulario" (ngSubmit)="actualizarUsuario()">
    <label for="username">Username</label>
    <input type="text" id="username" formControlName="username">
  
    <label for="Nombre">Nombre</label>
    <input type="text" id="nombre" formControlName="nombre">

    <label for="Apellido">Apellido</label>
    <input type="text" formControlName="apellido">

    <label for="Password">Password</label>
    <input type="text" formControlName="password">

    <button type="submit">{{this.accion}}</button>
</form>
