button {
    display: block;
    margin: 2%;
    background-color: #acabab; 
    color: #3f0606; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
}

h2{
    margin-left: 10%;
    font-size: 200%;
}