.comment{
    margin: 2% 3%;
    h4 {
        color: rgba(240, 255, 255, 0.40);
        font-size: 70%;
        margin: 0;
        margin-bottom: 0.2%;
    }
    .content{
        p{
            margin: 1% 2%;
        }
    }

    .like-section{
        display: flex;
        p {
            font-size: 0.8rem;
            margin: 0 1%;
        }
    }
}