.form {
    background-color: #333; 
    padding: 20px;
    border-radius: 4px; 
    margin: 5% 20%;
    display: block;
    label {
        display: block; 
        margin-bottom: 10px; 
    }

    input, textarea {
      width: 90%; 
      padding: 10px; 
      border: none; 
      border-radius: 4px; 
      background-color: #dfdfdf; 
      color: rgb(2, 2, 2);
      margin-bottom: 1%; 
    }

    button {
        display: block;
        margin: 2%;
        background-color: #acabab; 
        color: #3f0606; 
        border: none; 
        border-radius: 4px; 
        font-size: 16px; 
        cursor: pointer; 
    }
}

  

  