<!-- <nav>
  <ul>
    <li><a [routerLink] = "['/']">Home</a></li>
    <li><a [routerLink] = "['/posts']">Publicaciones</a></li>
    <li><a [routerLink] = "['/misPosts']">Tus Publicaciones</a></li>
    <li *ngIf = 'this.datosAuthService.isLoggedIn()'><a [routerLink] = "['/cuenta']">{{this.datosAuthService.getUsername()}}</a></li>
    <li *ngIf = '!this.datosAuthService.isLoggedIn()'><a [routerLink] = "['/login']">Login</a></li>
    <li *ngIf = "this.isAdmin"><a [routerLink] = "['/admin/posts']">Admin Posts</a></li>
    <li *ngIf = "this.isAdmin"><a [routerLink] = "['/admin/users']">Admin Users</a></li>
  </ul>
</nav> -->
<nav>
  <input type="checkbox" id="toggle">
  <label for="toggle" class="menu-icon">&#9776;</label>
  <ul class="menu">
    <li><a [routerLink] = "['/']">Home</a></li>
    <li><a [routerLink] = "['/posts']">Publicaciones</a></li>
    <li><a [routerLink] = "['/misPosts']">Tus Publicaciones</a></li>
    <li *ngIf = 'this.datosAuthService.isLoggedIn()'><a [routerLink] = "['/cuenta']">{{this.datosAuthService.getUsername()}}</a></li>
    <li *ngIf = '!this.datosAuthService.isLoggedIn()'><a [routerLink] = "['/login']">Login</a></li>
    <li *ngIf = "this.isAdmin"><a [routerLink] = "['/admin/posts']">Admin Posts</a></li>
    <li *ngIf = "this.isAdmin"><a [routerLink] = "['/admin/users']">Admin Users</a></li>
  </ul>
</nav>