.users {
  display: flex;
  flex-direction: column;
  margin: 1% 5%;
}

.users .one-user {
  display: flex;
}

.users .one-user h4 {
  margin: 0 2%;
}

.create-user {
  text-align: center;
  margin: 2%;
}

.users button,
.create-user button {
  display: block;
  background-color: #acabab;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 2%;
}

.highlight {
  background-color: rgb(0, 0, 0);
  animation-name: highlightAnimation;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

@keyframes highlightAnimation {
  0% {
    background-color: rgb(26, 118, 239);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(26, 118, 239);
  }
}